$main-yellow: #fcf03c;
$light-yellow: #f9ee58;
$main-orange: #f86d09;
$light-orange:#ff9d58;
$brown: #513a31;
$light-brown: #675a55;

// 【 Navbar 】
.front-navbar {
  z-index: 1040;
  width: 100%;
  position: fixed;
  top: 0;
  background: transparent;
  transition: all 0.5s;

  .nav-link {
    color: $brown;
    transition: 0.3s;

    &:hover{
      transform: translateY(-5px);
    }
  }
}
.navbar-yellow{
  background: $main-yellow;
}

// Favrite-item canvas
.offcanvas{
  .fav-item{
    height: 130px;
    overflow: hidden;
    text-overflow: ellipsis;

    img{
      height: 100px;
    }

    .fav-description{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

// navbar-cart dropdown menu
.dropdown-title{
  position: relative;

  a{
    color: $brown;
    text-decoration: none;
  }

  .cart-num{
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: $main-orange;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: 10px;

    @include media-breakpoint-down(sm){
      left: 70px;
      top: 10px;
    }
  }

}

.dropdown-menu{
  width: 360px;
  max-height: 500px;
  overflow: auto;
  right: 0 !important;
  left: auto !important;

  img{
    height: 100px;
  }
}

.home-carousel{
  height: 100;
  position: relative;

  .home-title{
    z-index: 1030;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-down(sm){
      font-size: 16px;
    }
  }
    
  .carousel-1{
    background-image: url('@/assets/images/carousel-1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .carousel-2{
    background-image: url('@/assets/images/carousel-2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .carousel-3{
    background-image: url('@/assets/images/carousel-3.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .carousel-4{
    background-image: url('@/assets/images/carousel-4.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .carousel-5{
    background-image: url('@/assets/images/carousel-5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .carousel-6{
    background-image: url('@/assets/images/carousel-6.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
}

// 【Product page】
// banner
.banner{
  max-height: 300px;
  overflow: hidden;
  position: relative;

  img{
    width: 100%;
  }

  .banner-title{
    color: #ffffff;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
// product category
.list-group{
  a{
    &:hover{
      background-color: $light-orange;
    }

  }
  .active{
    background-color: $main-orange;
    border: none;
  }
}

// card in product page
.card{
  width: 300px;
  height: 400px;
  transition: 0.3s;
  // position: relative;
  
  .card-img{
    height: 200px;
    overflow: hidden;
    position: relative;
    

    img{
      width: 100%;
      height: 200px;
    }

    .explore-more{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      button{
        display: none;
      }
    }
  }

  .card-like{
    &:hover{
      color: $red;
    }
  }

  &:hover{
    transform: translateY(-5px);

    .explore-more{
      background-color: rgba(0, 0, 0, 0.586);

      button{
        display: block;
      }
    }
  }
}

// pagination in product page
.product-pagination{
  a{
    color: $main-orange;

    &:hover{
      color: $light-orange;
    }

    &:focus{
      outline: none;
    }
  }

  .active{
    background-color: $main-orange;
    border: 1px solid $main-orange;
  }
}

// cart page
.cart-list{
  height: 100vh;
  overflow: auto;
}

.cart-item{
  border: 1px solid #dbd5d5f5;
  border-radius: 10px;

  img{
    max-height: 200px;
  }
}

// product-info page
.product-main-img{
  max-height: 600px;
  overflow: hidden;

  img{
    width: 100%;
  }
}

.product-carousel{
  height: 450px;
  overflow: hidden;

  @include media-breakpoint-down(md){
    height: 250px;
  }

  img{
    width: 100%;
    height: 450px;

    @include media-breakpoint-down(md){
      height: 250px;
    }
  }
}

.info-title{
  color: $brown;
  font-size: 24px;
  display: inline-block;
  border-bottom: 5px solid $light-yellow;
}

// 【finishOrder】
.finish-page{
  background-image: url('@/assets/images/finishOrder.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .finish-content{
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    // border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// footer
.footer{
  height: 80px;
}

.yellow-btn{
    background: $light-yellow;
    
    &:hover{
      background: $main-yellow;
    }
}

.orange-btn{
  background: $light-orange;

  &:hover{
    background: $main-orange;
  }
}

.origin-price{
  text-decoration: line-through;
  color: #6c757d; //color: $secondary
}

// discont price
.orange-price{
  color: $main-orange;
}

.orange-price-lg{
  color: $main-orange;
  font-size: 22px;
}

